*.elc
*.log
*~
\#*
*.swp
CVS
.svn
.emacs.d/auto-save-list/*
.emacs.d/conf/mailaccount.el
.emacs.d/history
.emacs.d/var
.emacs.d/.session
.emacs.d/tramp
.emacs.d/evernote-mode/ruby/InstalledFiles
.emacs.d/ac-comphist.dat
.emacs.d/ede-projects.el
.emacs.d/semanticdb/*
.emacs.d/srecode-map.el
.emacs.d/stdafx.h
.emacs.d/stdafx.pch
.emacs.d/ajc-java-complete/java_base.tag
.emacs.d/ajc-java-complete/java_base2.tag
.emacs.d/.org-id-locations
