[submodule ".zsh.d/oh-my-zsh"]
	path = .zsh.d/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
    ignore = dirty
[submodule ".zsh.d/plugin/zaw"]
	path = .zsh.d/plugin/zaw
	url = https://github.com/zsh-users/zaw
    ignore = dirty
[submodule ".zsh.d/plugin/auto-fu"]
	path = .zsh.d/plugin/auto-fu
	url = https://github.com/hchbaw/auto-fu.zsh
    ignore = dirty
[submodule ".zsh.d/plugin/zsh-notify"]
	path = .zsh.d/plugin/zsh-notify
	url = https://github.com/marzocchi/zsh-notify
    ignore = dirty
[submodule ".tmux/tmux-powerline"]
	path = .tmux/tmux-powerline
	url = https://github.com/erikw/tmux-powerline
    ignore = dirty
[submodule ".tmux/tmux-mem-cpu-load"]
	path = .tmux/tmux-mem-cpu-load
	url = https://github.com/thewtex/tmux-mem-cpu-load
    ignore = dirty
[submodule ".emacs.d/elisp/cp5022x"]
	path = .emacs.d/elisp/cp5022x
	url = https://github.com/awasira/cp5022x.el
    ignore = dirty
[submodule ".emacs.d/elisp/auto-complete"]
	path = .emacs.d/elisp/auto-complete
	url = https://github.com/auto-complete/auto-complete
    ignore = dirty
[submodule ".emacs.d/elisp/bm"]
	path = .emacs.d/elisp/bm
	url = https://github.com/joodland/bm
    ignore = dirty
[submodule ".emacs.d/elisp/direx-el"]
	path = .emacs.d/elisp/direx-el
	url = https://github.com/m2ym/direx-el
    ignore = dirty
[submodule ".emacs.d/elisp/popwin-el"]
	path = .emacs.d/elisp/popwin-el
	url = https://github.com/m2ym/popwin-el
    ignore = dirty
[submodule ".emacs.d/elisp/magit"]
	path = .emacs.d/elisp/magit
	url = https://github.com/magit/magit
    ignore = dirty
[submodule ".emacs.d/elisp/git-modes"]
	path = .emacs.d/elisp/git-modes
	url = https://github.com/magit/git-modes
    ignore = dirty
[submodule ".emacs.d/elisp/twittering-mode"]
	path = .emacs.d/elisp/twittering-mode
	url = https://github.com/hayamiz/twittering-mode
    ignore = dirty
[submodule ".emacs.d/elisp/tomatinho"]
	path = .emacs.d/elisp/tomatinho
	url = https://github.com/konr/tomatinho
    ignore = dirty
[submodule ".emacs.d/elisp/yasnippet"]
	path = .emacs.d/elisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet
    ignore = dirty
[submodule ".emacs.d/elisp/ac-slime"]
	path = .emacs.d/elisp/ac-slime
	url = https://github.com/purcell/ac-slime
    ignore = dirty
[submodule ".emacs.d/elisp/auto-complete-clang"]
	path = .emacs.d/elisp/auto-complete-clang
	url = https://github.com/brianjcj/auto-complete-clang
    ignore = dirty
[submodule ".emacs.d/elisp/ajc-java-complete"]
	path = .emacs.d/elisp/ajc-java-complete
	url = https://github.com/jixiuf/ajc-java-complete
    ignore = dirty
[submodule ".emacs.d/elisp/yasnippet-java-mode"]
	path = .emacs.d/elisp/yasnippet-java-mode
	url = https://github.com/nekop/yasnippet-java-mode
    ignore = dirty
[submodule ".emacs.d/elisp/php-eldoc"]
	path = .emacs.d/elisp/php-eldoc
	url = https://github.com/zenozeng/php-eldoc
    ignore = dirty
[submodule ".emacs.d/elisp/css-eldoc"]
	path = .emacs.d/elisp/css-eldoc
	url = https://github.com/zenozeng/css-eldoc
    ignore = dirty
[submodule ".emacs.d/elisp/php-mode"]
	path = .emacs.d/elisp/php-mode
	url = https://github.com/ejmr/php-mode
    ignore = dirty
[submodule ".emacs.d/elisp/php-extras"]
	path = .emacs.d/elisp/php-extras
	url = https://github.com/arnested/php-extras
    ignore = dirty
[submodule ".emacs.d/elisp/phpplus-mode"]
	path = .emacs.d/elisp/phpplus-mode
	url = https://github.com/echosa/phpplus-mode
    ignore = dirty
[submodule ".emacs.d/elisp/emacs-php-align"]
	path = .emacs.d/elisp/emacs-php-align
	url = https://github.com/tetsujin/emacs-php-align
    ignore = dirty
[submodule ".emacs.d/elisp/inf-php"]
	path = .emacs.d/elisp/inf-php
	url = https://github.com/taksatou/inf-php
    ignore = dirty
[submodule ".emacs.d/elisp/yaml-mode"]
	path = .emacs.d/elisp/yaml-mode
	url = https://github.com/yoshiki/yaml-mode
    ignore = dirty
[submodule ".emacs.d/elisp/geben-on-emacs"]
	path = .emacs.d/elisp/geben-on-emacs
	url = https://github.com/mcorde/geben-on-emacs
    ignore = dirty
[submodule ".emacs.d/elisp/malabar-mode"]
	path = .emacs.d/elisp/malabar-mode
	url = https://github.com/espenhw/malabar-mode
    ignore = dirty
[submodule ".emacs.d/elisp/haskell-mode"]
	path = .emacs.d/elisp/haskell-mode
	url = https://github.com/haskell/haskell-mode
    ignore = dirty
[submodule ".emacs.d/elisp/clojure-mode"]
	path = .emacs.d/elisp/clojure-mode
	url = https://github.com/jochu/clojure-mode
    ignore = dirty
[submodule ".emacs.d/elisp/swank-clojure"]
	path = .emacs.d/elisp/swank-clojure
	url = https://github.com/jochu/swank-clojure
    ignore = dirty
[submodule ".emacs.d/elisp/navi2ch"]
	path = .emacs.d/elisp/navi2ch
	url = https://github.com/naota/navi2ch
    ignore = dirty
[submodule ".emacs.d/elisp/web-mode"]
	path = .emacs.d/elisp/web-mode
	url = https://github.com/fxbois/web-mode
    ignore = dirty
[submodule ".emacs.d/elisp/helm"]
	path = .emacs.d/elisp/helm
	url = https://github.com/emacs-helm/helm
    ignore = dirty
[submodule ".emacs.d/elisp/helm-ls-git"]
	path = .emacs.d/elisp/helm-ls-git
	url = https://github.com/emacs-helm/helm-ls-git
    ignore = dirty
[submodule ".emacs.d/elisp/helm-descbinds"]
	path = .emacs.d/elisp/helm-descbinds
	url = https://github.com/emacs-helm/helm-descbinds
    ignore = dirty
[submodule ".emacs.d/elisp/japanese-holidays"]
	path = .emacs.d/elisp/japanese-holidays
	url = https://github.com/emacs-jp/japanese-holidays
    ignore = dirty
[submodule "emacs"]
	path = emacs
	url = git://git.savannah.gnu.org/emacs.git
    ignore = dirty
[submodule ".emacs.d/submodule/cp5022x.el"]
	path = .emacs.d/submodule/cp5022x.el
	url = https://github.com/awasira/cp5022x.el
    ignore = dirty
[submodule ".emacs.d/submodule/auto-complete"]
	path = .emacs.d/submodule/auto-complete
	url = https://github.com/auto-complete/auto-complete
    ignore = dirty
[submodule ".emacs.d/submodule/bm"]
	path = .emacs.d/submodule/bm
	url = https://github.com/joodland/bm
    ignore = dirty
[submodule ".emacs.d/submodule/direx-el"]
	path = .emacs.d/submodule/direx-el
	url = https://github.com/m2ym/direx-el
    ignore = dirty
[submodule ".emacs.d/submodule/popwin-el"]
	path = .emacs.d/submodule/popwin-el
	url = https://github.com/m2ym/popwin-el
    ignore = dirty
[submodule ".emacs.d/submodule/magit"]
	path = .emacs.d/submodule/magit
	url = https://github.com/magit/magit
    ignore = dirty
[submodule ".emacs.d/submodule/git-modes"]
	path = .emacs.d/submodule/git-modes
	url = https://github.com/magit/git-modes
    ignore = dirty
[submodule ".emacs.d/submodule/twittering-mode"]
	path = .emacs.d/submodule/twittering-mode
	url = https://github.com/hayamiz/twittering-mode
    ignore = dirty
[submodule ".emacs.d/submodule/tomatinho"]
	path = .emacs.d/submodule/tomatinho
	url = https://github.com/konr/tomatinho
    ignore = dirty
[submodule ".emacs.d/submodule/yasnippet"]
	path = .emacs.d/submodule/yasnippet
	url = https://github.com/capitaomorte/yasnippet
    ignore = dirty
[submodule ".emacs.d/submodule/ac-slime"]
	path = .emacs.d/submodule/ac-slime
	url = https://github.com/purcell/ac-slime
    ignore = dirty
[submodule ".emacs.d/submodule/auto-complete-clang"]
	path = .emacs.d/submodule/auto-complete-clang
	url = https://github.com/brianjcj/auto-complete-clang
    ignore = dirty
[submodule ".emacs.d/submodule/ajc-java-complete"]
	path = .emacs.d/submodule/ajc-java-complete
	url = https://github.com/jixiuf/ajc-java-complete
    ignore = dirty
[submodule ".emacs.d/submodule/yasnippet-java-mode"]
	path = .emacs.d/submodule/yasnippet-java-mode
	url = https://github.com/nekop/yasnippet-java-mode
    ignore = dirty
[submodule ".emacs.d/submodule/php-eldoc"]
	path = .emacs.d/submodule/php-eldoc
	url = https://github.com/zenozeng/php-eldoc
    ignore = dirty
[submodule ".emacs.d/submodule/css-eldoc"]
	path = .emacs.d/submodule/css-eldoc
	url = https://github.com/zenozeng/css-eldoc
    ignore = dirty
[submodule ".emacs.d/submodule/php-mode"]
	path = .emacs.d/submodule/php-mode
	url = https://github.com/ejmr/php-mode
    ignore = dirty
[submodule ".emacs.d/submodule/php-extras"]
	path = .emacs.d/submodule/php-extras
	url = https://github.com/arnested/php-extras
    ignore = dirty
[submodule ".emacs.d/submodule/phpplus-mode"]
	path = .emacs.d/submodule/phpplus-mode
	url = https://github.com/echosa/phpplus-mode
    ignore = dirty
[submodule ".emacs.d/submodule/emacs-php-align"]
	path = .emacs.d/submodule/emacs-php-align
	url = https://github.com/tetsujin/emacs-php-align
    ignore = dirty
[submodule ".emacs.d/submodule/inf-php"]
	path = .emacs.d/submodule/inf-php
	url = https://github.com/taksatou/inf-php
    ignore = dirty
[submodule ".emacs.d/submodule/yaml-mode"]
	path = .emacs.d/submodule/yaml-mode
	url = https://github.com/yoshiki/yaml-mode
    ignore = dirty
[submodule ".emacs.d/submodule/geben-on-emacs"]
	path = .emacs.d/submodule/geben-on-emacs
	url = https://github.com/mcorde/geben-on-emacs
    ignore = dirty
[submodule ".emacs.d/submodule/malabar-mode"]
	path = .emacs.d/submodule/malabar-mode
	url = https://github.com/espenhw/malabar-mode
    ignore = dirty
[submodule ".emacs.d/submodule/haskell-mode"]
	path = .emacs.d/submodule/haskell-mode
	url = https://github.com/haskell/haskell-mode
    ignore = dirty
[submodule ".emacs.d/submodule/clojure-mode"]
	path = .emacs.d/submodule/clojure-mode
	url = https://github.com/jochu/clojure-mode
    ignore = dirty
[submodule ".emacs.d/submodule/swank-clojure"]
	path = .emacs.d/submodule/swank-clojure
	url = https://github.com/jochu/swank-clojure
    ignore = dirty
[submodule ".emacs.d/submodule/navi2ch"]
	path = .emacs.d/submodule/navi2ch
	url = https://github.com/naota/navi2ch
    ignore = dirty
[submodule ".emacs.d/submodule/web-mode"]
	path = .emacs.d/submodule/web-mode
	url = https://github.com/fxbois/web-mode
    ignore = dirty
[submodule ".emacs.d/submodule/helm"]
	path = .emacs.d/submodule/helm
	url = https://github.com/emacs-helm/helm
    ignore = dirty
[submodule ".emacs.d/submodule/helm-ls-git"]
	path = .emacs.d/submodule/helm-ls-git
	url = https://github.com/emacs-helm/helm-ls-git
    ignore = dirty
[submodule ".emacs.d/submodule/helm-descbinds"]
	path = .emacs.d/submodule/helm-descbinds
	url = https://github.com/emacs-helm/helm-descbinds
    ignore = dirty
[submodule ".emacs.d/submodule/org-mode"]
	path = .emacs.d/submodule/org-mode
	url = https://github.com/jwiegley/org-mode
    ignore = dirty
[submodule ".emacs.d/submodule/japanese-holidays"]
	path = .emacs.d/submodule/japanese-holidays
	url = https://github.com/emacs-jp/japanese-holidays
    ignore = dirty
[submodule ".emacs.d/submodule/tabbar"]
	path = .emacs.d/submodule/tabbar
	url = https://github.com/dholm/tabbar
    ignore = dirty
[submodule ".emacs.d/submodule/thingopt-el"]
	path = .emacs.d/submodule/thingopt-el
	url = https://github.com/m2ym/thingopt-el.git
    ignore = dirty
[submodule ".emacs.d/submodule/emacs-dired-k"]
	path = .emacs.d/submodule/emacs-dired-k
	url = https://github.com/syohex/emacs-dired-k.git
    ignore = dirty
[submodule ".tmux/tmux-sidebar"]
	path = .tmux/tmux-sidebar
	url = https://github.com/tmux-plugins/tmux-sidebar
    ignore = dirty
[submodule ".tmux/tmux-yank"]
	path = .tmux/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
    ignore = dirty
[submodule ".tmux/tmux-open"]
	path = .tmux/tmux-open
	url = https://github.com/tmux-plugins/tmux-open
    ignore = dirty
[submodule ".tmux/tmux-copycat"]
	path = .tmux/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
    ignore = dirty
[submodule ".emacs.d/submodule/color-moccur"]
	path = .emacs.d/submodule/color-moccur
	url = https://github.com/emacsmirror/color-moccur
    ignore = dirty
[submodule ".emacs.d/submodule/moccur-edit"]
	path = .emacs.d/submodule/moccur-edit
	url = https://github.com/emacsmirror/moccur-edit
    ignore = dirty
[submodule ".emacs.d/submodule/auto-install"]
	path = .emacs.d/submodule/auto-install
	url = https://github.com/emacsmirror/auto-install
    ignore = dirty
[submodule ".emacs.d/submodule/imenu-plus"]
	path = .emacs.d/submodule/imenu-plus
	url = https://github.com/emacsmirror/imenu-plus
    ignore = dirty
[submodule ".emacs.d/submodule/info-plus"]
	path = .emacs.d/submodule/info-plus
	url = https://github.com/emacsmirror/info-plus
    ignore = dirty
[submodule ".emacs.d/submodule/igrep"]
	path = .emacs.d/submodule/igrep
	url = https://github.com/emacsmirror/igrep
    ignore = dirty
[submodule ".emacs.d/submodule/grep-a-lot"]
	path = .emacs.d/submodule/grep-a-lot
	url = https://github.com/emacsmirror/grep-a-lot
    ignore = dirty
[submodule ".emacs.d/submodule/grep-edit"]
	path = .emacs.d/submodule/grep-edit
	url = https://github.com/emacsmirror/grep-edit
    ignore = dirty
[submodule ".emacs.d/submodule/redo-plus"]
	path = .emacs.d/submodule/redo-plus
	url = https://github.com/emacsmirror/redo-plus
    ignore = dirty
[submodule ".emacs.d/submodule/hide-lines"]
	path = .emacs.d/submodule/hide-lines
	url = https://github.com/emacsmirror/hide-lines
    ignore = dirty
[submodule ".emacs.d/submodule/syslog-mode"]
	path = .emacs.d/submodule/syslog-mode
	url = https://github.com/emacsmirror/syslog-mode
    ignore = dirty
[submodule ".emacs.d/submodule/tempbuf"]
	path = .emacs.d/submodule/tempbuf
	url = https://github.com/emacsmirror/tempbuf
    ignore = dirty
[submodule ".emacs.d/submodule/point-undo"]
	path = .emacs.d/submodule/point-undo
	url = https://github.com/emacsmirror/point-undo
    ignore = dirty
[submodule ".emacs.d/submodule/goto-chg"]
	path = .emacs.d/submodule/goto-chg
	url = https://github.com/emacsmirror/goto-chg
    ignore = dirty
[submodule ".emacs.d/submodule/open-junk-file"]
	path = .emacs.d/submodule/open-junk-file
	url = https://github.com/emacsmirror/open-junk-file
    ignore = dirty
[submodule ".emacs.d/submodule/lispxmp"]
	path = .emacs.d/submodule/lispxmp
	url = https://github.com/emacsmirror/lispxmp
    ignore = dirty
[submodule ".emacs.d/submodule/sr-speedbar"]
	path = .emacs.d/submodule/sr-speedbar
	url = https://github.com/emacsmirror/sr-speedbar
    ignore = dirty
[submodule ".emacs.d/submodule/usage-memo"]
	path = .emacs.d/submodule/usage-memo
	url = https://github.com/emacsmirror/usage-memo
    ignore = dirty
[submodule ".emacs.d/submodule/list-processes-plus"]
	path = .emacs.d/submodule/list-processes-plus
	url = https://github.com/emacsmirror/list-processes-plus
    ignore = dirty
[submodule ".emacs.d/submodule/w32-symlinks"]
	path = .emacs.d/submodule/w32-symlinks
	url = https://github.com/emacsmirror/w32-symlinks
    ignore = dirty
[submodule ".emacs.d/submodule/w32-shell-execute"]
	path = .emacs.d/submodule/w32-shell-execute
	url = https://github.com/emacsmirror/w32-shell-execute
    ignore = dirty
[submodule ".emacs.d/submodule/showtip"]
	path = .emacs.d/submodule/showtip
	url = https://github.com/emacsmirror/showtip
    ignore = dirty
[submodule ".emacs.d/submodule/sdcv"]
	path = .emacs.d/submodule/sdcv
	url = https://github.com/emacsmirror/sdcv
    ignore = dirty
[submodule ".emacs.d/submodule/multi-term"]
	path = .emacs.d/submodule/multi-term
	url = https://github.com/emacsmirror/multi-term
    ignore = dirty
[submodule ".emacs.d/submodule/compile-"]
	path = .emacs.d/submodule/compile-
	url = https://github.com/emacsmirror/compile-
    ignore = dirty
[submodule ".emacs.d/submodule/compile-plus"]
	path = .emacs.d/submodule/compile-plus
	url = https://github.com/emacsmirror/compile-plus
    ignore = dirty
[submodule ".emacs.d/submodule/eldoc-extension"]
	path = .emacs.d/submodule/eldoc-extension
	url = https://github.com/emacsmirror/eldoc-extension
    ignore = dirty
[submodule ".emacs.d/submodule/c-eldoc"]
	path = .emacs.d/submodule/c-eldoc
	url = https://github.com/emacsmirror/c-eldoc
    ignore = dirty
[submodule ".emacs.d/submodule/perltidy"]
	path = .emacs.d/submodule/perltidy
	url = https://github.com/emacsmirror/perltidy
    ignore = dirty
[submodule ".emacs.d/submodule/php-completion"]
	path = .emacs.d/submodule/php-completion
	url = https://github.com/emacsmirror/php-completion
    ignore = dirty
[submodule ".emacs.d/submodule/xml-parse"]
	path = .emacs.d/submodule/xml-parse
	url = https://github.com/emacsmirror/xml-parse
    ignore = dirty
[submodule ".emacs.d/submodule/csv-mode"]
	path = .emacs.d/submodule/csv-mode
	url = https://github.com/emacsmirror/csv-mode
    ignore = dirty
[submodule ".emacs.d/submodule/sl"]
	path = .emacs.d/submodule/sl
	url = https://github.com/emacsmirror/sl
    ignore = dirty
[submodule ".emacs.d/submodule/gtk-look"]
	path = .emacs.d/submodule/gtk-look
	url = https://github.com/emacsmirror/gtk-look
    ignore = dirty
[submodule ".emacs.d/submodule/iman"]
	path = .emacs.d/submodule/iman
	url = https://github.com/emacsmirror/iman
    ignore = dirty
[submodule ".emacs.d/submodule/completing-help"]
	path = .emacs.d/submodule/completing-help
	url = https://github.com/emacsmirror/completing-help
    ignore = dirty
[submodule ".emacs.d/submodule/undohist"]
	path = .emacs.d/submodule/undohist
	url = https://github.com/emacsmirror/undohist
    ignore = dirty
[submodule ".emacs.d/submodule/paredit"]
	path = .emacs.d/submodule/paredit
	url = https://github.com/emacsmirror/paredit
    ignore = dirty
[submodule ".emacs.d/submodule/pomodoro"]
	path = .emacs.d/submodule/pomodoro
	url = https://github.com/emacsmirror/pomodoro
    ignore = dirty
[submodule ".emacs.d/submodule/tea-time"]
	path = .emacs.d/submodule/tea-time
	url = https://github.com/emacsmirror/tea-time
    ignore = dirty
[submodule ".emacs.d/submodule/summarye"]
	path = .emacs.d/submodule/summarye
	url = https://github.com/emacsmirror/summarye
    ignore = dirty
[submodule ".emacs.d/submodule/js2-mode"]
	path = .emacs.d/submodule/js2-mode
	url = https://github.com/emacsmirror/js2-mode
    ignore = dirty
