[submodule ".zsh.d/oh-my-zsh"]
	path = .zsh.d/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".zsh.d/plugin/zaw"]
	path = .zsh.d/plugin/zaw
	url = https://github.com/zsh-users/zaw.git
[submodule ".zsh.d/plugin/auto-fu"]
	path = .zsh.d/plugin/auto-fu
	url = https://github.com/hchbaw/auto-fu.zsh.git
[submodule ".zsh.d/plugin/zsh-notify"]
	path = .zsh.d/plugin/zsh-notify
	url = https://github.com/marzocchi/zsh-notify.git
[submodule ".tmux/tmux-powerline"]
	path = .tmux/tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule ".tmux/tmux-mem-cpu-load"]
	path = .tmux/tmux-mem-cpu-load
	url = https://github.com/thewtex/tmux-mem-cpu-load.git
[submodule ".emacs.d/elisp/cp5022x"]
	path = .emacs.d/elisp/cp5022x
	url = https://github.com/awasira/cp5022x.el.git
[submodule ".emacs.d/elisp/auto-complete"]
	path = .emacs.d/elisp/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule ".emacs.d/elisp/bm"]
	path = .emacs.d/elisp/bm
	url = https://github.com/joodland/bm.git
[submodule ".emacs.d/elisp/direx-el"]
	path = .emacs.d/elisp/direx-el
	url = https://github.com/m2ym/direx-el.git
[submodule ".emacs.d/elisp/popwin-el"]
	path = .emacs.d/elisp/popwin-el
	url = https://github.com/m2ym/popwin-el.git
[submodule ".emacs.d/elisp/magit"]
	path = .emacs.d/elisp/magit
	url = https://github.com/magit/magit.git
[submodule ".emacs.d/elisp/git-modes"]
	path = .emacs.d/elisp/git-modes
	url = https://github.com/magit/git-modes.git
[submodule ".emacs.d/elisp/twittering-mode"]
	path = .emacs.d/elisp/twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
[submodule ".emacs.d/elisp/tomatinho"]
	path = .emacs.d/elisp/tomatinho
	url = https://github.com/konr/tomatinho.git
[submodule ".emacs.d/elisp/yasnippet"]
	path = .emacs.d/elisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule ".emacs.d/elisp/ac-slime"]
	path = .emacs.d/elisp/ac-slime
	url = https://github.com/purcell/ac-slime.git
[submodule ".emacs.d/elisp/auto-complete-clang"]
	path = .emacs.d/elisp/auto-complete-clang
	url = https://github.com/brianjcj/auto-complete-clang.git
[submodule ".emacs.d/elisp/ajc-java-complete"]
	path = .emacs.d/elisp/ajc-java-complete
	url = https://github.com/jixiuf/ajc-java-complete.git
[submodule ".emacs.d/elisp/yasnippet-java-mode"]
	path = .emacs.d/elisp/yasnippet-java-mode
	url = https://github.com/nekop/yasnippet-java-mode.git
[submodule ".emacs.d/elisp/php-eldoc"]
	path = .emacs.d/elisp/php-eldoc
	url = https://github.com/zenozeng/php-eldoc.git
[submodule ".emacs.d/elisp/css-eldoc"]
	path = .emacs.d/elisp/css-eldoc
	url = https://github.com/zenozeng/css-eldoc.git
[submodule ".emacs.d/elisp/php-mode"]
	path = .emacs.d/elisp/php-mode
	url = https://github.com/ejmr/php-mode.git
[submodule ".emacs.d/elisp/php-extras"]
	path = .emacs.d/elisp/php-extras
	url = https://github.com/arnested/php-extras.git
[submodule ".emacs.d/elisp/phpplus-mode"]
	path = .emacs.d/elisp/phpplus-mode
	url = https://github.com/echosa/phpplus-mode.git
[submodule ".emacs.d/elisp/emacs-php-align"]
	path = .emacs.d/elisp/emacs-php-align
	url = https://github.com/tetsujin/emacs-php-align.git
[submodule ".emacs.d/elisp/inf-php"]
	path = .emacs.d/elisp/inf-php
	url = https://github.com/taksatou/inf-php.git
[submodule ".emacs.d/elisp/yaml-mode"]
	path = .emacs.d/elisp/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule ".emacs.d/elisp/geben-on-emacs"]
	path = .emacs.d/elisp/geben-on-emacs
	url = https://github.com/mcorde/geben-on-emacs.git
[submodule ".emacs.d/elisp/malabar-mode"]
	path = .emacs.d/elisp/malabar-mode
	url = https://github.com/espenhw/malabar-mode.git
[submodule ".emacs.d/elisp/haskell-mode"]
	path = .emacs.d/elisp/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule ".emacs.d/elisp/clojure-mode"]
	path = .emacs.d/elisp/clojure-mode
	url = https://github.com/jochu/clojure-mode.git
[submodule ".emacs.d/elisp/swank-clojure"]
	path = .emacs.d/elisp/swank-clojure
	url = https://github.com/jochu/swank-clojure.git
[submodule ".emacs.d/elisp/navi2ch"]
	path = .emacs.d/elisp/navi2ch
	url = https://github.com/naota/navi2ch.git
[submodule ".emacs.d/elisp/web-mode"]
	path = .emacs.d/elisp/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule ".emacs.d/elisp/helm"]
	path = .emacs.d/elisp/helm
	url = https://github.com/emacs-helm/helm.git
[submodule ".emacs.d/elisp/helm-ls-git"]
	path = .emacs.d/elisp/helm-ls-git
	url = https://github.com/emacs-helm/helm-ls-git.git
[submodule ".emacs.d/elisp/helm-descbinds"]
	path = .emacs.d/elisp/helm-descbinds
	url = https://github.com/emacs-helm/helm-descbinds.git
[submodule ".emacs.d/elisp/japanese-holidays"]
	path = .emacs.d/elisp/japanese-holidays
	url = https://github.com/emacs-jp/japanese-holidays.git
[submodule "emacs"]
	path = emacs
	url = git://git.savannah.gnu.org/emacs.git
