.emacs.d/auto-save-list/*
.emacs.d/conf/
.emacs.d/history
.emacs.d/var
.emacs.d/.session
.emacs.d/.bm-repository
.emacs.d/tramp
.emacs.d/evernote-mode/ruby/InstalledFiles
.emacs.d/ac-comphist.dat
.emacs.d/ede-projects.el
.emacs.d/semanticdb/*
.emacs.d/srecode-map.el
.emacs.d/stdafx.h
.emacs.d/stdafx.pch
.emacs.d/ajc-java-complete/java_base.tag
.emacs.d/ajc-java-complete/java_base2.tag
.emacs.d/.org-id-locations
.emacs.d/undohist/
/.emacs.d/bookmarks
/.emacs_*
/.emacs.d/woman_cache.el
/.emacs.desktop
/.emacs.desktop.lock
/.emacs.d/session.*
*.tar.gz
/.zshrc_20130519103425
/.emacs.d/yasnippet_old
/.emacs.d/snippets/c-mode/techno-LogDebug-Serial
/.emacs.d/snippets/c-mode/techno-if0
/.emacs.d/bm
/.emacs.d/magit
/.emacs.d/twittering-mode
/.emacs.d/yasnippet
/.emacs.d/auto-complete-clang
/.emacs.d/emacswikipages
/.emacs.d/tomatinho
/.emacs.d/ajc-java-complete
/.emacs.d/yasnippet-java-mode
/.emacs.d/malabar-mode
/.emacs.d/haskell-mode/
/.emacs.d/el-get/.status.el
/.emacs.d/el-get/.status.el.old
/.emacs.d/el-get/.loaddefs.el
/.emacs.d/el-get/recipes/
/.emacs.d/el-get/el-get/
/.emacs.d/newsticker/
/.emacs.d/url/cookies
/.emacs.d/elisp/anything/
/cookie.txt
/.emacs.d/el-get.txt
/.fonts/Ricty-Bold-Powerline.ttf
/.fonts/Ricty-Bold.ttf
/.fonts/Ricty-Regular.ttf
/.fonts/RictyDiscord-Bold.ttf
/.fonts/RictyDiscord-Regular.ttf
/.fonts/Ricty.tar.gz
*.zwc
/.emacs.d/elisp/auto-async-byte-compile/
/.emacs.d/elisp/auto-install/
/.emacs.d/elisp/color-moccur/
/.emacs.d/elisp/compile+/
/.emacs.d/elisp/compile-/
/.emacs.d/elisp/completing-help/
/.emacs.d/elisp/eldoc-extension/
/.emacs.d/elisp/emacs-helm/
/.emacs.d/elisp/goto-chg/
/.emacs.d/elisp/grep-a-lot/
/.emacs.d/elisp/c-eldoc/
/.emacs.d/elisp/grep-edit/
/.emacs.d/elisp/gtk-look/
/.emacs.d/elisp/helm-descbings/
/.emacs.d/elisp/hide-lines/
/.emacs.d/elisp/igrep/
/.emacs.d/elisp/iman/
/.emacs.d/elisp/imenu+/
/.emacs.d/elisp/info+/
/.emacs.d/elisp/js2-mode/
/.emacs.d/elisp/lispxmp/
/.emacs.d/elisp/list-processes+/
/.emacs.d/elisp/minibuf-isearch/
/.emacs.d/elisp/moccur-edit/
/.emacs.d/elisp/multi-term/
/.emacs.d/elisp/open-junk-file/
/.emacs.d/elisp/org-mode/
/.emacs.d/elisp/paredit/
/.emacs.d/elisp/perl-completion/
/.emacs.d/elisp/perltidy/
/.emacs.d/elisp/php-completion/
/.emacs.d/elisp/php-eval/
/.emacs.d/elisp/point-undo/
/.emacs.d/elisp/pomodoro/
/.emacs.d/elisp/redo+/
/.emacs.d/elisp/sdcv/
/.emacs.d/elisp/showtip/
/.emacs.d/elisp/sl/
/.emacs.d/elisp/sr-speedbar/
/.emacs.d/elisp/summarye/
/.emacs.d/elisp/syslog-mode/
/.emacs.d/elisp/tabbar/
/.emacs.d/elisp/tea-time/
/.emacs.d/elisp/tempbuf/
/.emacs.d/elisp/thing-opt/
/.emacs.d/elisp/undohist/
/.emacs.d/elisp/usage-memo/
/.emacs.d/elisp/w32-shell-execute/
/.emacs.d/elisp/w32-symlinks/
/.emacs.d/elisp/xml-parse/
/.emacs.d/elisp/csv-mode/
/.emacs.d/elisp/package-install/
